<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>

    </ion-buttons>
    <ion-title><img src="assets/icon/LogoAPP.png" width=100px></ion-title>
  </ion-toolbar>
</ion-header>
<ion-card class="ion-padding ion-text-center" color="secondary">
  Asistencia
</ion-card>
<ion-content color= "light" class="ion-padding ion-text-center">
  <ion-segment [(ngModel)]="escaner" mode="ios">
    <ion-segment-button value="scan">
      <ion-label>Asistencia QR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="generar">
      <ion-label>crear QR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="alu"> <ion-label>Alumno</ion-label>
    </ion-segment-button>
      
  </ion-segment>


  <div *ngIf="escaner=='scan'">
  Aca se escanea el qr
</div>
<div *ngIf="escaner=='generar'">
  <img src="assets/icon/qrPrueba.png">
</div>
<div class="escaner" *ngIf="escaner==='generar'">
  <div id="qrImagen">
    <div class="d-flex-center">
      <div class="d-flex-center qr wrapper">
        <div class="qr-section">
          <p>Presiona el botón para generar el código QR y compartir con los alumnos.</p>
          <ion-button expand="block" color="primary">Generar QR</ion-button>
        </div>
        <div class="qr-code">
         
        </div>
      </div>

    </div>

  </div>
</div>
 <ion-list>
  <div>
    <ion-item *ngFor="alumno== generar"></ion-item>
    <div>
      <ion-item *ngFor="let alumno of alumnos">
        <ion-label>{{ alumno.nombre }}</ion-label>
        <ion-label>{{ alumno.apellido }}</ion-label>
        <ion-label>{{ alumno.edad }}</ion-label>
        
      </ion-item>
      <div>
        <ion-button xpand="block" color="primary" (click) ="agregarAlumno()">Agregar Alumno</ion-button>
      </div>
      
    </div>
  </div>

</ion-list>

</ion-content>
