// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --ion-color-primary: rgba(255, 183, 0, 0.901) ;
    --ion-color-secondary: rgba(79, 150, 105, 0.703);
    --ion-background-color: #894ddcfa, rgba(0, 0, 0, 0.164), rgb(0, 145, 255);
}
   
