<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><img src="assets/icon/LogoAPP.png" width=100px></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="contraseña" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input formControlName="confirmacionContraseña" type="password"></ion-input>
        </ion-item>

      </form>
      <br>
     <ion-button (click)="guardar()">
      Guardar
      </ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
<ion-footer>
  <ion-toolbar color="primary"></ion-toolbar>
  <ion-buttons slot="end">
    <ion-button [routerLink]="['/registro']"></ion-button>
  </ion-buttons>
</ion-footer>
